h3 Exchange

div
    pre ADDRESS: {{exchange.address}}
    pre OWNER: {{exchange.owner}}
    pre EXPECTED BALANCE: {{exchange.expectedBalance}}
    pre REAL BALANCE: --- 
    pre OPEN: {{exchange.open}}
    pre EXECUTIVE: {{exchange.executive}}

