h3 Exchange

div
    pre ADDRESS: {{exchange.address}}
    pre OWNER: {{exchange.owner}}
    pre EXPECTED BALANCE: {{exchange.expectedBalance}}
    pre REAL BALANCE: --- 
    pre OPEN: {{exchange.open}}
    pre EXECUTIVE: {{exchange.executive}}
    pre REFILL BALANCE: {{exchange.refill}}
    pre DRAIN BALANCE: {{exchange.drain}}
    pre NEEDS REFILL: {{exchange.needsRefill}}
    pre NEEDS DRAIN: {{exchange.needsDrain}}
    

