h3 Receipts
div
    table
        tr
            th: a(href='', ng-click='predicate="value"; reverse=!reverse'): pre Value
            th: a(href='', ng-click='predicate="type"; reverse=!reverse'): pre Type
            th: a(href='', ng-click='predicate="state"; reverse=!reverse'): pre State
            th: a(href='', ng-click='predicate="from"; reverse=!reverse'): pre From
            th: a(href='', ng-click='predicate="to"; reverse=!reverse'): pre To
            th: a(href='', ng-click='predicate="block"; reverse=!reverse'): pre Block
            th: a(href='', ng-click='predicate="date"; reverse=!reverse'): pre Date
            th: a: pre accept
        tr(ng-repeat='receipt in receipts | orderBy:predicate:reverse')
            td: pre {{receipt.value}}
            td: pre {{receipt.type}}
            td: pre {{receipt.state}}
            td: pre {{receipt.from}}
            td: pre {{receipt.to}}
            td: pre {{receipt.block}}
            td: pre {{receipt.date}}
            td: a(href='', ng ng-click='accept(receipt)', ng-if='receipt.state === "pending"'): pre accept
