extends layout

block styles

block scripts

    //- out main ng-app
    script(src='js/admin.js')

    //- include services
    script(src='js/admin/services/coldwallets.js')

    //- include mockable services

    //- include controllers
    script(src='js/admin/controllers/index/IndexCtrl.js')
    script(src='js/admin/controllers/exchange/ExchangeCtrl.js')
    script(src='js/admin/controllers/user/UserCtrl.js')
    script(src='js/admin/controllers/user/UpdateUserCtrl.js')
    script(src='js/admin/controllers/users/UsersCtrl.js')
    script(src='js/admin/controllers/settings/SettingsCtrl.js')
    script(src='js/admin/controllers/receipts/ReceiptsCtrl.js')
    script(src='js/admin/controllers/coldwallets/ColdwalletsCtrl.js')

block content
    div(ng-app='eth.Exchange.admin')
        h1 Welcome to #{title}
        div(ui-view='main')

