extends layout

block styles

block scripts
    script(src='js/app.js')
    script(src='js/app/controllers/index/IndexCtrl.js')
    script(src='js/app/controllers/deposit/DepositCtrl.js')
    script(src='js/app/controllers/withdraw/WithdrawCtrl.js')

block content
    div(ng-app='eth.Exchange.app')
        h1 Welcome to #{title}
        div(ui-view='main')

