extends layout

block styles

block scripts

    //- out main ng-app
    script(src='js/app.js')

    //- include services
    script(src='js/app/services/currentUser.js')

    //- include mockable services
    if mockEth
        script(src='js/app/services/accounts/accounts_mock.js')
    else
        script(src='js/app/services/accounts/accounts.js')

    //- include controllers
    script(src='js/app/controllers/account/AccountCtrl.js')
    script(src='js/app/controllers/index/IndexCtrl.js')
    script(src='js/app/controllers/deposit/DepositCtrl.js')
    script(src='js/app/controllers/withdraw/WithdrawCtrl.js')
    script(src='js/app/controllers/history/HistoryCtrl.js')

block content
    div(ng-app='eth.Exchange.app')
        h1 Welcome to #{title}
        div(ui-view='main')

