extends layout

block scripts
    script(src='javascripts/app.js')
    script(src='javascripts/app/controllers/index/IndexCtrl.js')

block content
    div(ng-app='eth.Exchange.app')
        h1= title
        p Welcome to #{title}
        div(ui-view='main')
