doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        block styles

        script(src='bower/angular/angular.js')
        script(src='bower/angular-ui-router/release/angular-ui-router.js')
        script(src='bower/lodash/dist/lodash.js')
        script(src='bower/restangular/dist/restangular.js')

        script(src='js/utils.js')
        script(src='js/utils/services/users.js')
        block scripts

    body
        block content

