doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        block styles

        //- angular
        script(src='bower/angular/angular.js')

        //- angular-ui-router
        script(src='bower/angular-ui-router/release/angular-ui-router.js')

        //- restangular and it's dependencies (we do not use lodash separately yet. alter this if we will)
        script(src='bower/lodash/dist/lodash.js')
        script(src='bower/restangular/dist/restangular.js')

        //- ethereum.js and it's dependencies
        //script(src='bower/bignumber.js/bignumber.js')
        script(src='bower/ethereum.js/dist/ethereum.js')

        //- our utils module
        script(src='js/utils.js')
        script(src='js/utils/services/localStorage.js')
        script(src='js/utils/services/users.js')
        script(src='js/utils/services/web3.js')
        script(src='js/utils/services/logout.js')
        script(src='js/utils/services/exchange.js')
        script(src='js/utils/services/contracts.js')
        script(src='js/utils/services/receipts.js')

        block scripts

    body
        block content

