div
    a(ui-sref='index.account') Account
    span &nbsp; 
    a(ui-sref='index.deposit') Deposit
    span &nbsp; 
    a(ui-sref='index.withdraw') Withdraw
    span &nbsp; 
    a(ui-sref='index.history') History
    a(ng-click='logout()', style='float: right;') Logout
div(ui-view='content')

