h3 Users
div
    ul
        li(ng-repeat='user in users')
            a(ui-sref='index.user({id: user._id})') {{user.name}}
            span &nbsp;
            a(ui-sref='index.updateUser({create: false, id: user._id})') Edit
div
    a(ui-sref='index.updateUser({create: true})') Create

