div
    pre NAME: {{current.user.name}}
    pre IDENTITY: {{current.user.identity}}
    pre WALLET ADDRESS: {{current.user.address}}
    pre EXCHANGE BALANCE: {{current.user.balance}}
div
    a(ui-sref='index.updateUser({create: false, id: current.user._id})') Edit

