h3 History
div
    table
        tr
            th: a(href='', ng-click='predicate="type"; reverse=!reverse') Type
            th: a(href='', ng-click='predicate="assets"; reverse=!reverse') Assets
            th: a(href='', ng-click='predicate="price"; reverse=!reverse') Price
            th: a(href='', ng-click='predicate="state"; reverse=!reverse') State
            th: a(href='', ng-click='predicate="date"; reverse=!reverse') Date
        tr(ng-repeat='operation in history.operations | orderBy:predicate:reverse')
            td {{operation.type}}
            td {{operation.assets}}
            td {{operation.price}}
            td {{operation.state}}
            td {{operation.date}}

