h3 History
div
    table
        tr
            th: a(href='', ng-click='predicate="value"; reverse=!reverse') Value
            th: a(href='', ng-click='predicate="type"; reverse=!reverse') Type
            th: a(href='', ng-click='predicate="state"; reverse=!reverse') State
            th: a(href='', ng-click='predicate="from"; reverse=!reverse') From 
            th: a(href='', ng-click='predicate="to"; reverse=!reverse') To 
            th: a(href='', ng-click='predicate="block"; reverse=!reverse') Block 
            th: a(href='', ng-click='predicate="date"; reverse=!reverse') Date
        tr(ng-repeat='receipt in history.receipts | orderBy:predicate:reverse')
            td {{receipt.value}}
            td {{receipt.type}}
            td {{receipt.state}}
            td {{receipt.from}}
            td {{receipt.to}}
            td {{receipt.block}}
            td {{receipt.date}}

