h3 HotWallet
div
    pre WALLET NAME: {{hotwallet.user.wallet.name}}
    pre WALLET ADDRESS: {{hotwallet.user.wallet.address}}
    pre WALLET OWNER: {{hotwallet.user.wallet.owner}}
    pre ----
    pre CHANGE WALLET:
    form(name='hotwalletForm', ng-submit='changeHotwallet()')
        pre owner:
            select(ng-model='hotwallet.owner', ng-options='account.address for account in hotwallet.accounts')
                option(value='') -- chose owner account --
            span &nbsp;
            | BALANCE: {{hotwallet.owner.balance}}
        pre name:
            select(ng-model='hotwallet.selected', ng-options='contract for contract in hotwallet.contracts')
                option(value='') -- chose hotwallet contract --
            span &nbsp;
        input(type='submit', value='Change')

