h3 Account

div
    pre EMAIL: {{account.user.email}}
    pre NAME: {{account.user.name}}
    pre IDENTITY: {{account.user.identity}}
    pre ASSETS: {{account.user.assets}}
    pre EXCHANGE BALANCE: {{account.user.balance}}
    pre WALLET ADDRESS: {{account.user.wallet.address}}
    pre WALLET BALANCE: {{account.hotwalletBalance}}
    pre YOUR ACCOUNTS
    table
        tr
            th
                pre ADDRESS
            th 
                pre BALANCE
        tr(ng-repeat='acc in account.accounts')
            td 
                pre {{acc.address}}
            td 
                pre {{acc.balance}}

