h3 Account
div
    //p choose account:
    select(ng-model='account.user', ng-options='user.identity for user in account.users')
        option(value='') -- choose account --

div
    pre NAME: {{account.user.name}}
    pre IDENTITY: {{account.user.identity}}
    pre EXCHANGE BALANCE: {{account.user.balance}}
    pre YOUR ACCOUNTS
    table(style='width: 100%;')
        tr
            th Address
            th Balance
        tr(ng-repeat='acc in account.accounts')
            td {{acc.address}}
            td {{acc.balance}}

