h3 Account
div
    //p choose account:
    select(ng-model='account.user', ng-options='user.identity for user in account.users')
        option(value='') -- choose account --

div
    p NAME: {{account.user.name}}
    p IDENTITY: {{account.user.identity}}
    p EXCHANGE BALANCE: {{account.user.balance}}
    p YOUR ACCOUNTS
    ul
        li(ng-repeat='acc in account.accounts')
            span {{acc.address}} 
            span &nbsp;
            span {{acc.balance}}
            


