h3 Account
div
    select(ng-model='account.user', ng-options='user.identity for user in account.users')
        option(value='') -- choose account --

div
    pre NAME: {{account.user.name}}
    pre IDENTITY: {{account.user.identity}}
    pre WALLET ADDRESS: {{account.user.address}}
    pre EXCHANGE BALANCE: {{account.user.balance}}
    pre YOUR ACCOUNTS
    table
        tr
            th
                pre ADDRESS
            th 
                pre BALANCE
        tr(ng-repeat='acc in account.accounts')
            td 
                pre {{acc.address}}
            td 
                pre {{acc.balance}}

